@page "/fetchdata"
@using Nexus.Shared
@using System.Threading
@inject HttpClient Http
<div class="bg-white h-full mx-2 p-4">
    <h1 class="py-2 text-4xl">Weatherforecast </h1>
    <p class="py-2">This component demonstrates fetching data from the server.</p>

    @if (_forecasts == null)
    {
        <p class="italic">Loading...</p>
    }
    else if (_forecasts.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Temp. (C)</th>
                    <th>Temp. (F)</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var forecast in _forecasts)
                {
                    <tr>
                        <td>
                            @forecast.Date.ToShortDateString() </td>
                        <td>
                            @forecast.TemperatureC </td>
                        <td>
                            @forecast.TemperatureF </td>
                        <td>
                            @forecast.Summary </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="font-semibold">Failed to load weather forecasts</p>
    }
</div>
@code {
    private IList<WeatherForecast>? _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await Http.GetFromJsonAsync<IList<WeatherForecast>>("WeatherForecast") ?? new List<WeatherForecast>();
    }
}
