@page "/autotask/ticket"

<div class="bg-gray-100 h-full mx-2 p-4">
    <h3 class="text-4xl my-4">Tickets</h3>

    
    @if (_tickets == null)
    {
        <p class="font-italic">...Loading</p>
    }
    else
    {
        <div class="grid grid-rows-3 xl:grid-cols-3 xl:grid-rows-1 gap-4 justify-center">
            @foreach (var ticket in _tickets)
            {
                <ShowTicket Ticket="ticket"></ShowTicket>
            }
        </div>

    }

</div>

