<div class="mt-4 p-4 bg-red-200 border-1-4 border-orange-800 text-black max-w-4xl mx-auto rounded-xl shadow-md"
    role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="whitespace-nowrap">
        Please take our
        <a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2148851">brief
            survey</a>
    </span>
    and tell us what you think.
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
