@* https://tailwindcss.com/_next/static/media/classic-utility-jacket.0f108046e151c8576017eaf383406fe6.jpg *@
<div class="shadow-lg bg-gradient-to-br from-orange-400 to-pink-600 transform -rotate-6 rounded-3xl p-10">
    <div class="relative ">
        <div class="flex bg-white">
            <div class="flex-none w-48 relative">
                <img class="absolute inset-0 w-full h-full object-cover"
                    src="https://tailwindcss.com/_next/static/media/classic-utility-jacket.0f108046e151c8576017eaf383406fe6.jpg">
            </div>
            <form class="flex-auto p-6">
                <div class="flex flex-wrap">
                    <h1 class="flex-auto text-xl font-semibold">Classic Utility Jacket</h1>
                    <div class="text-xl font-semibold text-gray-500">$110.00</div>
                    <div class="w-full flex-none text-sm font-medium text-gray-500 mt-2">In Stock</div>
                </div>

            </form>

        </div>
    </div>

</div>