<footer class="bg-indigo-400 px-2">
    <div class="bg-white my-4 p-2 rounded mx-auto md:w-6/12">
        <h3 class="text-xl text-center py-4">Footer</h3>
        <ul class="flex flex-wrap my-2 justify-evenly">
            <li>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold border border-blue-700 rounded py-2 px-4 mx-1">Click me</button>
            </li>
            <li>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold border border-blue-700 rounded py-2 px-4 mx-1">Click me</button>
            </li>
            <li>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold border border-blue-700 rounded py-2 px-4 mx-1">Click me</button>
            </li>
            <li>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold border border-blue-700 rounded py-2 px-4 mx-1">Click me</button>
            </li>
        </ul>
    </div>
</footer>

@code {
    
}