<nav class="bg-gray-800">
    <div class="mx-auto px-2 max-w-7xl">
        <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center">
                sss
            </div>
        </div>
    </div>
    
</nav>

@code {
    
}