<div class="flex-none md:w-64 bg-gradient-to-r md:bg-gradient-to-b from-purple-500 via-purple-400 to-indigo-400 ">
    <div class="flex flex-col  pt-2">
        <div class="px-4 pb-1">
            <div class="flex justify-between">
                <a href="/"
                   class="text-4xl font-semibold tracking-widest uppercase text-gray-800 focus:text-gray-800 hover:text-gray-800 hover:no-underline">
                    Nexus
                </a>
                <button
                    class="md:invisible focus:outline-none px-2 transform transition-transform duration-300 ease-in-out @HamburgerRotateCssClass"
                    @onclick="ToggleNavMenu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                </button>
            </div>
        </div>

        <nav class="flex flex-col h-0 md:h-full md:py-4 transition-all ease-in-out duration-300 @NavMenuCssClass">
            <NavMenuItem Href="/" Title="Home">
                @* <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1
                    1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0
                    001-1v-4a1 1
                    0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg> *@
            </NavMenuItem>

            <NavMenuItem Href="counter" Title="Counter">
                @* <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1
                    1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0
                    001-1v-4a1 1
                    0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg> *@
            </NavMenuItem>

            <NavMenuItem Href="fetchdata" Title="Weather Forecast">
                 @*<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19
                    11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0
                    012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                    </svg> *@
            </NavMenuItem>
            <NavMenuItem Href="autotask/ticket" Title="Ticket">
                @* <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19
                                11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0
                                012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                                </svg> *@
            </NavMenuItem>
        </nav>

    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "" : "h-32";

    private string HamburgerRotateCssClass => collapseNavMenu ? null : "rotate-90";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}