<nav class="flex items-center">
    <ol class="flex space-x-2 mx-2 items-center justify-start text-lg font-bold">
        <li>
            <a class="flex space-x-2 hover:ring rounded my-1 p-1 items-center" href="/demoBody">
                <Icon Name="house-door"></Icon>
                @*<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                </svg>*@
                <span>Home</span>
            </a>
        </li>
        <li class="cursor-default">
            <p class="text-xl">/</p>
        </li>
        <li>
            <a class="flex space-x-2 hover:ring rounded my-1 p-1 items-center" href="/demoBody">
                <Icon Name="sliders" ClassName="font-bold stroke-2"></Icon>
                @*<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"/>
                </svg>*@
                <span>Settings</span>
            </a>
        </li>
    </ol>
</nav>

@code {

}